<h1>
    Welcome to the information page!
</h1>

<h2>
    How was this website made?
</h2>

<ul>
    <li>
        I used Flask, a Python Web Framework
    </li>

    <li>
        It allows me to create a simple app (or website), and host it locally. I can then return HTML code from the functions in my program - This will become the source code of the website
    </li>

    <li>
        <a href="https://flask-doc.readthedocs.io/en/latest/">Here</a> is some documentation for Flask
    </li>
</ul>
